@page {
    size: 21cm 29.7cm;
    margin: 0; /* change the margins as you want them to be. */
}

html {
  height: 27.39cm;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  margin-top: 2rem;
  font-size: 1.4em;
  line-height: 1.1;
  font-family: "PT Sans";
}
p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
table {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
  border-collapse: collapse;
}
td {
  padding: 0.5em 0.35em;
}
.price {
  text-align: right;
  width: 10%;
}

.beer {
  text-align: left;
  width: 60%;
}
.type {
  width: 30%;
}
tr:nth-child(even) {
  background-color: #eee;
}


/* AAaaa */
ul.leaders {
    max-width: 40em;
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
    list-style: none;
    margin-bottom: 0.5rem;
}

ul.leaders li:before {
    display: inline-block;
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
}

.subtitle {
    display: inline-block;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 0.25rem;
}

#drinklist {
  max-height: 29.7cm;
  max-width: 21cm;
  margin-left: auto;
  margin-right: auto;
}

.drink_category {
  -webkit-column-count: 2;
   -moz-column-count: 2;
        column-count: 2;
  width: 21cm;
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*float: left;*/
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 2rem;
}

h2 {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2em;
}
/*
.drink_category li {
    display: inline-block;
}*/

.drink_category_title {
  text-align: center;
  -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
  -moz-column-span: all;
  width: 100%;
  border-bottom: 2px;
  border-bottom-style: solid;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 1.5em;
  margin: 0;
}

.footer {
  /*display: none;*/
  /*background-color: #000;*/
  float: right;
  width: 50%;
  height: 250px;
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #000;
  font-size: 48pt;
  text-align: center;
}
#logo {
  /*height: 100px;*/
  margin-left: auto;
  margin-right: auto;
  /*width: 550px;*/
  /*margin-top: 75px;*/
  width: 50px;
  height: 50px;
  vertical-align: bottom;

}

#logo img {
  display: inline-block;
  width: 250px;
  height: 250px;
  vertical-align: middle;
}

#logo p {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

h2.Ale:not(.American):not(.Pale):not(.Brown) {
/*.Vin {*/
  page-break-before: always;
  margin-top: 20vh;
}

.title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}

.title h1 {
  display: inline-block;
}
