@page {
    // size: 21cm 29.7cm;
    margin: 0;
}

html {
  // height: 27.39cm;
  margin: 0;
  padding: 0;
}

body {
  margin: 1em 0;
  padding: 0;
  height: 100%;
  max-height: 1080px;
  font-size: 2em;
  line-height: 1.6;
  font-family: "ff-tisa-sans-web-pro";
}

p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

table {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
  border-collapse: collapse;
}

.price {
  text-align: right;
  width: 10%;
}

.beer {
  text-align: left;
  width: 60%;
}
.type {
  width: 30%;
}

/* AAaaa */
ul.subcategory-list {
    // max-width: 40em;
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
    list-style: none;
    margin-bottom: 0.5rem;

}

ul.subcategory-list li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
ul.subcategory-list span:first-child {
    padding-right: 0.33em;
    background: white;
}
ul.subcategory-list span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
}

.subtitle {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 0.25rem;
}

#drinklist {
  margin: 0;
  width: 95vw;
  height: 99vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-columns: 640px 3;
     -moz-columns: 640px 3;
          columns: 640px 3;
}

// .drink_category {
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   margin-bottom: 2rem;
// }
.subcategory {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

h2 {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2em;
}

.drink_category_title {
  width: 100%;
  border-bottom: 2px;
  border-bottom-style: solid;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}

.footer {
  /*display: none;*/
  /*background-color: #000;*/
  float: right;
  width: 50%;
  height: 250px;
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #000;
  font-size: 48pt;
  text-align: center;
}
#logo {
  /*height: 100px;*/
  margin-left: auto;
  margin-right: auto;
  /*width: 550px;*/
  /*margin-top: 75px;*/
  width: 50px;
  height: 50px;
  vertical-align: bottom;

}

#logo img {
  display: inline-block;
  width: 250px;
  height: 250px;
  vertical-align: middle;
}

#logo p {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

// h2.Ale:not(.American):not(.Pale):not(.Brown) {
// .Vin {
//   page-break-before: always;
//   margin-top: 20vh;
// }

.title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}

.title h1 {
  display: inline-block;
}
