<!DOCTYPE html>
<html>
<head>
  <title>dgenerate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <script src="https://use.typekit.net/kcg2yub.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
<%= yield %>

</body>
</html>
